@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

.main{
    font-family: 'Inter', sans-serif;
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
p{
    margin:0px;
}
.text{
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height:200px;
    width:200px;
    margin: auto;
}
.name{
    margin-top: 20px;
}